<div class="contact py-5 mt-5">
    <app-usable [portfolio]="'contact me'"></app-usable>

    <div class="w-50 mx-auto text-capitalize fs-3 text-secondary">
        <div class="form-floating mb-3 ">
            <input type="text" class="form-control " id="floatingInput" placeholder="name">
            <label for="floatingInput" class="py-1">name</label>
          </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="email address">
            <label for="floatingInput"class="py-1">email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingPassword" placeholder="phone">
            <label for="floatingPassword"class="py-1">phone number</label>
          </div>
          <div class="form-floating mb-5">
            <input type="text" class="form-control" id="floatingPassword" placeholder="phone">
            <label for="floatingPassword"class="py-1">message</label>
          </div>
          
        <div class="py-5 line mb-3"></div>
        <button class="btn bg-green fs-2 py-2 text-capitalize">send</button>
    </div>
</div>