.arrow{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    right: 20px;
    top:90%;
    cursor: pointer;
    opacity: 0;
    background-color: gray;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media screen and (max-width:992px) {
    .arrow{
opacity: 1;
    }
}