.navbar{
    z-index: 999;
}


.bg-navy{
    background-color: #2C3E50;
}
.nav-link{
    color: #f8f9fa;
}
.nav-link:hover{
    color: #1ABC9C;
}
.navbar-toggler{
    border: none;
    background-color:#1ABC9C ;
    padding:2px 5px;
}
.navbar-toggler:focus{
   outline: none;
   box-shadow: none;
}
@media screen and (max-width:600px) {
    .navbar-toggler span{
        font-size: 12px;
    } 
}
