.image{
    position: relative;
    border-radius:10px ;

    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
    overflow: hidden;
    cursor: pointer;
}
.layer{
    position: absolute;
    background-color:rgba(26, 188, 156,.9) ;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    opacity: 0;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.image:hover .layer{
opacity: 1;
}
.modal{
    top:7%;
    height: 90%;
}
.modal-content{
    padding: 1% 20% 5%;
}
.modal-header{
    border-bottom: none;
    display: block;
}
.modal-header i{
    cursor: pointer;
    position: absolute;
    right: 30px;
    top:15px;
    color:rgb(26, 188, 156) ;
    font-size: 2rem;
}
.modal-body img{
height: 350px;
}

  .modal-footer{
    border-top: none;
    display: block;
  }
  
 .bg-btn{
    background-color:rgb(26, 188, 156) ;
 }  
 .btn:hover{
    background-color: #159a80;
 }    