
<div class="image">
    <img [src]="path+image.src" alt="" class="w-100">
    <div class="layer d-flex justify-content-center align-items-center" data-bs-toggle="modal" [attr.data-bs-target]="x+image.label">
        <i class="fa-solid fa-plus fs-1 fw-bold text-white"></i>
    </div>
</div>


<div class="modal fade" [id]="image.label" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        
        <div class="modal-body">
            <img [src]="path+image.src" alt="" class="w-100">
            
        </div>
        
      </div>
    </div>
  </div>